<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0" />
<meta property="og:title"
      content="Учебный сайт.">
<meta property="og:description"
      content="Необходим для показа навыков.">
<meta name="description" content="Необходим для показа навыков.">
<meta property="og:image" content="http://best-site/thumbnail.jpg">
<meta property="og:url" content="@@webRoot/index.htm">
<meta name="og:author" content="xopowen"/>
<meta name="format-detection" content="telephone=no">
<meta name="keywords" content='project of learn, xopowen'>