@import "components/addidions/variable";
@import "components/addidions/mixins";
@import "components/addidions/style_zeroing";
@import "components/container";


body{
  max-width: 1440px;
  margin: auto;
  overflow-x: hidden;
  position: relative;

}
main{
  min-height: 100vh;
}



